body {
  background-color: #556271;
  font-family: "Roboto Mono", monospace;
}
h1 {
  text-align: center;
  margin: 40px 80px 40px 80px;
  padding: 30px;
  background-color: #f4f6f8;
  opacity: 0.5;
  border-radius: 10px;
}
p {
  background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 8px,
    #f4f6f8 8px,
    #f4f6f8 16px
  );
  background-size: 180px 180px;
  padding: 10px;
  text-align: center;
  margin: 30px 80px 30px 80px;
  border-radius: 10px;
  font-size: 18px;
}
.both-buttons {
  text-align: center;
}
.button-one {
  color: red;
  padding: 10px;
  font-size: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
  font-family: "Roboto Mono", monospace;
}

.button-two {
  color: blue;
  padding: 10px;
  font-size: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
  font-family: "Roboto Mono", monospace;
}

footer {
  text-align: center;
  margin-top: 10px;
}
